

.text {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url('../../image.png');
    width: 1441px;
    height: 448px;
    color: white;
}

.text::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text_content{
    z-index: 1;
    margin-top: 54px;
}

.text_info{
    font-size: 42px;
    margin-bottom: 70px;
}

.text_ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.text_li{
    max-width: 350px;
    margin-bottom: 52px;
    margin-right: 80px;
}

.text_zet{
    font-size: 32px;
}

.text_p{
    font-size: 12px;
    line-height: 20px;
}
